body {
  background-color: #7FDBFF;
}

.container {
text-align: center;
}

.wrapper {
width: 600px;
display: grid;
grid-gap: 2px;
grid-template-columns: repeat(9, 70px);
/* grid-template-rows: repeat(9, 70px); */
/* grid-auto-flow: column; */
align-content: center;
margin-top: 30px;
}


.grid-item {
text-align: center;
}

.box {
background-color: white;
border-radius: 5px;
padding: 20px;
font-size: 150%;
}

input {
border: transparent;
-webkit-appearance: none;
text-align: center;
margin: 0;
}

input:focus {
outline-width: 0;
}

#outcome, #error, #invalid {
  display: none;
}
